:root {
    --accent-color: #ff422a;
    --background-light-g: #dae4e6;
    --margin-bottom-small: 0 0 30px;
    --margin-bottom-large: 80px;
    --body-font: freight-text-pro, serif;
    --font-color-white: #fff;
    --font-color-black: #000;
    --bg-color-black: #000;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: nobel, sans-serif;
}

h1 {
    font-size: 76px;
    font-weight: 700;
    letter-spacing: 0;
    line-height: 86px;
    margin: var(--margin-bottom-small);
    padding: 0;
    text-transform: none;
}

h2 {
    font-size: 76px;
    font-weight: 700;
    letter-spacing: 0;
    line-height: 86px;
    margin: 40px 0 30px 0;
    padding: 0;
    text-transform: none;
    position: relative;
    text-align: right;
}

h3 {
    font-size: 38px;
    font-weight: 700;
    letter-spacing: 0;
    line-height: 58px;
    margin: 40px 0 30px 0;
    padding: 0;
    text-transform: none;
    position: relative;
    display: inline-block;
}

h1 strong,
h2 strong,
strong {
    color: var(--accent-color);
}

h4 {
    color: var(--font-color-white);
    display: inline-block;
    font-family: nobel, sans-serif;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 3px;
    line-height: 24px;
    margin: 0 0 20px;
    padding: 0 0 0 20px;
    position: relative;
    text-transform: uppercase;
}

h4:before {
    background: var(--accent-color);
    content: "";
    display: block;
    height: 8px;
    left: 0;
    position: absolute;
    top: 8px;
    width: 8px;
}

h5 {
    font-size: 25px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 42px;
    margin: 0 0 10px;
    padding: 0;
    text-transform: none;
}

h6 {
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 3px;
    line-height: 24px;
    margin: 0 0 10px;
    padding: 0;
    text-transform: uppercase;
    font-family: nobel, sans-serif;
    text-align: left;
}

span.square {
    content: "";
    display: block;
    height: 90px;
    left: -55px;
    position: absolute;
    top: -35px;
    width: 90px;
    z-index: -1;
}

p {
    font-family: var(--body-font);
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    line-height: 36px;
    margin: var(--margin-bottom-small);
}

blockquote {
    font-size: 32px;
    line-height: 56px;
    margin: auto;
    max-width: 720px;
    margin-bottom: 60px;
    font-family: var(--body-font);
    font-weight: 400;
}

cite {
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 3px;
    line-height: 24px;
    padding: 0 0 0 20px;
    position: relative;
    text-transform: uppercase;
    margin: auto;
    max-width: 720px;
}

cite:before {
    background: var(--accent-color);
    content: "";
    display: block;
    height: 8px;
    left: 0;
    position: absolute;
    top: 5px;
    width: 8px;
}

li {list-style: none;}

a {
    text-decoration: none;
    display: inline-block;
    color: var(--font-color-black);
    font-family: nobel, sans-serif;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 3px;
    line-height: 24px;
    text-decoration: none;
    text-transform: uppercase;
    position: relative;
    cursor: pointer;
}

a:after {
    content: ">";
    position: absolute;
    right: -20px;
    top: -1px;
    margin-left: 20px;
    font-size: 26px;
    color: var(--font-color-black);
    font-weight: 200;
}

header.header {
    position: relative;
    margin-bottom: 100px;
}

.navbar {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 4%;
    top: 0;
    z-index: 9999999;
    width: 100%;
    background: #fff;
    margin-bottom: 100px;
}

.hamburger {display: none;}

.hamburger span {
    display: block;
    position: relative;
    width: 30px;
    height: 2px;
    margin: 5px auto;
    transition: all 0.3s ease-in-out;
    background-color: #ff422a;
    position: relative;
}

.hamburger span:before {
    content: "";
    display: block;
    width: 30px;
    height: 2px;
    margin: 5px auto;
    transition: all 0.3s ease-in-out;
    background-color: #ff422a;
    position: absolute;
    top: -15px;
}

.hamburger span:after {
    content: "";
    display: block;
    width: 30px;
    height: 2px;
    margin: 5px auto;
    transition: all 0.3s ease-in-out;
    background-color: #ff422a;
    position: absolute;
    bottom: -15px;
}

.nav-menu {
    display: flex;
    align-items: center;
    width: 100%;
    position: relative;
}

.nav-menu li {
    align-items: center;
    display: flex;
    margin: 0 40px;
    padding: 0;
    text-align: center;
    flex: 1 1 0;
}

.nav-link {
    font-size: 18px;
    font-weight: 400;
    color: var(--font-color-black);
    margin: 0 !Important;
    flex-grow: 1;
}

.nav-link:after {
    content: "";
    display: none !important;
}

.nav-logo::after {display: none;}

li {
    align-items: center;
    display: flex;
    margin: 0 40px;
    padding: 0;
    text-align: center;
}

li a {
    align-items: center;
    color: var(--font-color-black);
    cursor: pointer;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    font-size: 18px;
    letter-spacing: 3px;
    line-height: 20px;
    padding: 40px 10px;
    text-decoration: none;
    text-transform: uppercase;
}

li.btn-sw:last-of-type {
    margin-right: 0;
    max-width: 280px;
}

li.btn-sw:last-of-type a {
    background: var(--accent-color);
    color: var(--font-color-white);
    font-weight: 700;
    padding: 0;
    position: relative;
    text-align: left;
}

li.btn-sw:last-of-type a span {
    display: block;
    padding: 30px 40px;
    position: relative;
    width: 280px;
    z-index: 1;
}

li.btn-sw:last-of-type a span:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    background: #d43517;
    -webkit-clip-path: polygon(100% 0, 0 100%, 0 100%, 100% 100%);
    clip-path: polygon(100% 0, 0 100%, 0 100%, 100% 100%);
    transition: all .2s cubic-bezier(.645, .045, .355, 1);
}

li.btn-sw:last-of-type a span:hover:after {clip-path: polygon(100% 100%, 0 0, 0 100%, 100% 100%);}

li.btn-sw a {color: var(--font-color-white);}

.nav-logo {
    font-size: 2.1rem;
    font-weight: 500;
    color: #482ff7;
    padding-right: 40px;
}

/*section*/

section {
    background-position: 50%;
    background-size: cover;
    display: block;
    padding: 100px 0;
    position: relative;
    z-index: 1;
}

section article {
    box-sizing: border-box;
    margin: 0 auto;
    max-width: 1260px;
    position: relative;
    width: 92%;
}

/*hero*/

section.hero {
    background-image: url(../img/hero.jpeg);
    align-items: center;
    background-position: 50%;
    background-size: cover;
    color: var(--font-color-white);
    display: flex;
    overflow: hidden;
    position: relative;
    z-index: 2;
}

section.hero::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(120deg, var(--bg-color-black), var(--bg-color-black));
    opacity: .6;
    z-index: -1
}

.hero-2 .slider_container {
    position: relative;
    height: 100%;
    overflow: hidden;
}

.hero-2 .slider {
    display: inline-flex;
    transition: 0.9s;
}

.hero-2 .slider img {
    width: 100%;
    background-size: 100% 100%;
    background-position: center;
}

.hero-2 .indicator {
    position: absolute;
    display: flex;
    cursor: pointer;
    left: 47%;
    bottom: -50px;
}

.hero-2 .dots {
    background-color: #fff;
    height: 15px;
    width: 15px;
    transition: 0.8s;
    margin: 0px;
    margin-left: 8px;
}

.hero-2 .dots:hover,
.hero-2 .dots:active {
    background-color: #ff422a;
}


.hero-2 h1 {
    margin: 0 0 -25px;
    position: relative;
    z-index: 99;
    margin-top: 80px;
}

section.hero-2 {background-color: #dae4e6;}

/*us*/

section.us {
    background: url(../img/dots.png);
    background-size: 11px 11px;
    overflow: hidden;
}

section.desc {
    background: var(--background-light-g);
    margin-bottom: 100px;
    padding: 60px;
    margin-left: 200px;
    display: flex;
    flex-wrap: nowrap;
}

section.desc figure {
    margin-right: 30px;
    transform: translate(0px, 30px);
}

figure img {
    margin: 0 0 -140px -260px;
    max-width: calc(100% + 260px);
}

section.desc div {
    position: relative;
    width: 50%;
}

section.desc div a {color: var(--accent-color);}

/*seaction values*/

section.value {
    background-color: var(--background-light-g);
    text-align: center;
}

section.value h3 {margin-bottom: var(--margin-bottom-large);}

ul.values {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

ul.values h5 {width: 100%;}

ul.values li {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 25%;
    margin: 0px 0px 60px 0px;
    padding: 0px 40px;
    position: relative;
    align-content: flex-start;
    align-items: flex-start;
}

ul.values img {
    width: 40%;
    margin-bottom: 20px;
}

/*section team*/

section.team h6 {text-align: right;}

section.team article h6 {text-align: left;}

section.team article.title h6 {text-align: right;}

article.title {
    border-right: solid 10px #000;
    padding-right: 40px;
    text-align: right;
    margin-bottom: var(--margin-bottom-large);
}

article.title a {
    left: -20px;
    line-height: 36px;
}

article.title a::after,
.map a::after {
    color: var(--accent-color);
}

article.team ul {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

article.team ul li {
    width: calc(33.33333% - 30px);
    flex-wrap: wrap;
    align-content: flex-start;
    margin: 0;
    margin: 20px;
    background: var(--bg-color-black);
}

article.team ul li img {width: 100%;}

article.team ul li:last-of-type {max-width: none;}

article.team ul li:nth-child(1n+2) {margin-left: 0px;}

article.team ul li:nth-child(1) {margin-left: 0px;}

article.team ul li:nth-child(3n) {margin-right: 0px;}

.info-member {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    color: var(--font-color-white);
    padding: 10px 20px;
}

/*
article.team li:after {
    content: "Lees meer";
    position: absolute;
    border: 10px solid #000;
    text-align: center;
    left: -23px;
    top: -4px;
    box-sizing: content-box;
    width: 33%;
    height: 33%;
    opacity: 0
}

article.team li:hover:after {
    content: "";
   opacity: 1;
}
*/

/*section service*/

section.service {background-color: var(--background-light-g);}

section.service article:first-of-type {
    display: flex;
    justify-content: center;
}

section.service h3 {
    margin-top: 0px;
    width: 66.666666%;
    margin-bottom: var(--margin-bottom-large);
}

section.service section.desc {
    background: #fff;
    flex-direction: row-reverse;
    margin-left: 0px;
    margin-right: 200px;
}

section.service section.desc figure {
    margin-right: 0px;
    margin-left: 30px;
}

section.service section.desc figure img {margin: 0px -260px -140px 20px;}

/*section quote*/

section.quote {
    background: url(../img/illustration-inverse.png) no-repeat 50%;
    background-attachment: fixed;
    background-size: cover;
    background-color: var(--background-light-g);
    ;
}

section.quote article {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}

/*section locatie*/

section.location {
    background: url(../img/dots.png);
    background-size: 11px 11px;
    overflow: hidden;
}

.grid-loc {
    display: grid;
    grid-template-columns: minmax(0, 1fr) 30%;
    gap: 0px 0px;
    grid-template-areas:
        "binnen cap-titel"
        "buiten map";
}

.binnen {
    grid-area: binnen;
    padding: 0px 20px;
}

.grid-loc img {width: 100%;}

.cap-titel {
    grid-area: cap-titel;
    padding: 0px 20px;
    align-self: center;
}

.cap-titel h3 {
    border-left: 10px solid #000;
    color: var(--accent-color);
    padding: 10px 0 10px 40px;
    font-size: 38px;
    font-weight: 700;
    letter-spacing: 0;
    line-height: 58px;
    text-transform: none;
    align-self: center;
    grid-area: cap-titel;
}

.buiten {
    grid-area: buiten;
    padding: 0px 20px;
    position: relative;
    margin-top: 100px;
    margin-left: 60px;
}

.buiten img {width: 70%;}

.buiten span.square {
    content: "";
    display: block;
    height: 90px;
    left: -16px;
    position: absolute;
    top: -35px;
    width: 90px;
    z-index: -1;
}

.map {
    grid-area: map;
    padding: 0px 20px;
    position: relative;
}

.map img {
    position: absolute;
    width: 160%;
    top: -100px;
    left: -180px;
    z-index: -1;
}

.map a {
    position: absolute;
    top: 57%;
    left: -180px;
    z-index: 99;
}

/*section prefooter*/

section.prefooter {
    background: var(--accent-color);
    color: var(--font-color-white);
    text-decoration: none;
}

section.prefooter:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    background: #d43517;
    -webkit-clip-path: polygon(100% 0, 0 100%, 0 100%, 100% 100%);
    clip-path: polygon(100% 0, 0 100%, 0 100%, 100% 100%);
    transition: all .2s cubic-bezier(.645, .045, .355, 1);

}

section.prefooter:hover:after {clip-path: polygon(100% 100%, 0 0, 0 100%, 100% 100%);}

.prefooter-container {text-align: center;}

.prefooter-container h2 {text-align: center;}

.prefooter-container strong {color: var(--font-color-black);}

.prefooter-container a {
    border: 6px solid #000;
    color: var(--font-color-white);
    padding: 14px 24px;
    font-weight: 600;
    font-size: 20px;
    transition: .2s;
}

.prefooter-container a:after {
    color: var(--font-color-white);
    font-weight: 600;
    position: initial;
}


.prefooter-container a:hover {background: var(--bg-color-black);}


/*footer sectie*/

footer {
    background: #242424;
    position: relative;
    color: var(--font-color-white);
}

footer article {
    box-sizing: border-box;
    margin: 0 auto;
    max-width: 1260px;
    position: relative;
    width: 92%;
    padding: 100px 0px;
    background: url(../img/footer-back.png) no-repeat 100%;
    background-size: auto 100%;
    display: flex;
    flex-wrap: wrap;
}

footer article div {margin-bottom: 40px;}

footer article div:first-of-type {width: 40%;}

footer article div:last-of-type {width: 60%;}

footer .newsletter .container {
    width: 66.666666%;
    margin: auto;
    padding: 0 40px;
}

footer .comp-info img {margin-bottom: 50px;}

footer .comp-info ul {
    column-count: 2;
    column-gap: 20px;
}

footer .comp-info ul li {
    border-bottom: 1px solid transparent;
    color: var(--font-color-white);
    display: inline-block;
    font-size: 16px;
    line-height: 20px;
    margin: var(--margin-bottom-small);
    text-decoration: none;
    text-transform: uppercase;
    width: 100%;
    text-align: left;
    font-weight: 300;
}

footer form {
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
}

footer input[type="email"] {
    background: none;
    border: 4px solid var(--accent-color);
    ;
    border-right: none;
    color: var(--font-color-white);
    letter-spacing: 2px;
    text-transform: uppercase;
    font-family: nobel, sans-serif;
    font-size: 15px;
    font-weight: 300;
    height: 60px;
    line-height: 20px;
    padding: 14px 15px;
    width: 100%;
}

footer form button {
    background: red;
    padding: 20px 25px;
    white-space: nowrap;
    box-sizing: border-box;
    color: var(--font-color-white);
    cursor: pointer;
    display: inline-block;
    font-family: nobel, sans-serif;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 2px;
    line-height: 20px;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    border: none;
}

/*copy footer*/

footer .copy-footer {
    background: var(--bg-color-black);
    padding: 20px 4%;
    display: flex;
    flex-wrap: nowrap;
}

footer .copy-footer ul,
footer .copy-footer p {
    font-family: nobel, sans-serif;
    font-size: 14px;
    line-height: 20px;
    margin: 0;
    position: relative;
    width: 50%;
}

footer .copy-footer ul {
    display: flex;
    justify-content: flex-end;
}

footer .copy-footer li {
    position: relative;
    color: #807f7f;
    margin: 0;
    padding: 0px 10px;
    font-weight: 300;
}

footer .copy-footer li:last-of-type {padding-right: 0px;}

footer .copy-footer li:last-of-type:after {display: none;}

footer .copy-footer li:after {
    content: "|";
    position: absolute;
    right: 0;
    color: var(--accent-color);
    margin-left: 2px;
}


/*desktop,tablet en mobiel*/

@media only screen and (max-width: 1259px) {
    header.header {
        display: block;
        height: 70px;
        margin-bottom: 0px;
    }

    a.nav-logo img {height: 40px;}

    .navbar {
        padding: 20px 4%;
        transition: 0.3s;
    }

    .navbar.active {padding-bottom: 100px;}

    .nav-menu {
        position: fixed;
        top: 70px;
        flex-direction: column;
        background-color: #fff;
        width: 100%;
        left: 5%;
        text-align: center;
        transition: 0.3s;
        box-shadow: 0 10px 27px rgb(0 0 0 / 5%);
        display: none;
    }

    .nav-menu.active {
        top: 80px;
        width: 90%;
        margin: 0 auto;
        background: #dae4e6;
        left: 5%;
        max-height: calc(95% - 70px);
        padding: 0;
        z-index: 9999999;
        display: block;
    }

    .nav-item {margin: 2.5rem 0;}

    .hamburger {
        display: block;
        cursor: pointer;
    }

    .hamburger.active span {background-color: transparent;}

    .hamburger.active span:before {
        opacity: 1;
        transform: translateY(10px) rotate(-45deg);
    }

    .hamburger.active span:after {
        opacity: 1;
        transform: translateY(-10px) rotate(45deg);
    }

    .nav-menu li {
        width: 100%;
        border-bottom: 1px solid #fff;
        margin: 0;
    }

    li a {
        align-items: baseline;
        padding: 30px 40px;
    }

    li.btn-sw:last-of-type {
        margin: 0;
        max-width: 100%;
        border-bottom: none;
    }

    li.btn-sw:last-of-type a span {width: 100%;}


    /*    section secription*/

    section.desc figure {width: 50%;}

    section.us span.square {
        left: 0px;
        top: -40px;
    }

    /*    section map*/

    .grid-loc {
        grid-template-columns: minmax(0, 1fr) 50%;

    }

    .map img {
        width: 120%;
        top: 0px;
        left: -100px;
        position: relative;
    }

    .map a {
        position: absolute;
        top: auto;
        bottom: 0px;
        left: -50px;
        z-index: 99;
    }

    /*    footer*/

    footer .newsletter .container {
        width: 66.666666%;
        margin: auto;
        padding: 0;
    }

}

@media only screen and (max-width: 959px) {

    /*    section us*/

    section.us span.square {
        height: 45px;
        left: 0px;
        top: -40px;
        width: 45px;
    }

    /*    section desc*/

    section.desc {
        background: var(--background-light-g);
        margin-bottom: 0px;
        padding: 30px;
        margin-left: 0;
        display: flex;
        flex-wrap: wrap;
    }

    section.desc figure {width: 100%;}

    figure img {
        margin: 0 0 20px -40px;
        max-width: calc(100% + 40px);
    }

    section.desc div {
        position: relative;
        width: 100%;
        margin-top: 30px;
    }

    /*    section value*/

    ul.values li {width: 50%;}

    span.square {
        height: 45px;
        left: -30px;
        top: -15px;
        width: 45px;
    }


    /*    section team*/

    section.team article.title {margin-right: 30px;}

    article.title {
        border-right: solid 10px #000;
        padding-right: 40px;
        text-align: right;
        margin-bottom: var(--margin-bottom-large);
        width: 75%;
        margin: 0 0 0 auto;
    }

    article.team ul li {width: calc(50% - 20px); }

    article.team ul li:nth-child(2n) {margin-right: 0px;}

    article.team ul li:nth-child(1n) {margin-right: 0px;}

    section.team article.team h6 {text-align: left;}

    /*    section service*/

    section.service h3 {
        width: 100%;
        padding: 0px 20px;
    }

    section.service h3 span.square {
        height: 45px;
        left: -5px;
        top: -15px;
        width: 45px;
    }

    section.service section.desc {margin-right: 0;}

    section.service section.desc figure img {
        margin: 0 0 20px -70px;
        max-width: calc(100% + 20px);
    }

    .grid-loc {
        grid-template-columns: 1fr;
        grid-template-areas:
            "cap-titel"
            "binnen"
            "buiten "
            "map";
    }

    .buiten img {width: 100%;}

    .buiten span.square {
        height: 45px;
        left: 1px;
        top: -20px;
        width: 45px;
    }

    .map img {
        width: 100%;
        left: 0px;
    }

    .map a {
        bottom: -20px;
        left: 0px;
    }

    footer article div:first-of-type {width: 100%;}

    footer article div:last-of-type {
        width: 100%;
        margin-bottom: 0px;
    }

    footer .newsletter .container {width: 100%;}

    footer article {background-position: 50%;}


}



@media only screen and (max-width: 767px) {

    h1,
    h2 {
        font-size: 40px;
        line-height: 40px;
        margin: var(--margin-bottom-small);
    }
    
    h3 {
        font-size: 30px;
        line-height: 48px;
    }
    
    .cap-titel h3 {
        font-size: 30px;
        line-height: 48px;
    }

    blockquote {
        font-size: 24px;
        line-height: 36px;
    }

    section {padding: 75px 0;}

    /*    section hero*/

    section.hero {
        padding: 60px 0px;
        margin-top: 10px;
    }

    section.us span.square {
        height: 45px;
        left: 0px;
        top: -20px;
        width: 45px;
    }

    figure img {
        margin: -20px 0 20px -40px;
        max-width: calc(100% + 70px);
    }

    /*    section value*/

    ul.values li {width: 100%;}

    ul.values img {width: 20%;}

    /*    section team*/

    article.team ul li {width: 100%;}

    section.team h5 {
        width: 100%;
        text-align: left;
    }

    /*    section service*/
    section.service section.desc figure img {
        margin: -20px 0 20px -70px;
        max-width: calc(100% + 60px);
    }
    
    
    .binnen, .cap-titel, .buiten, .map{padding: 0;}
    
    .buiten span.square {
        left: -19px;
        top: -20px;
    }

    /*    footer*/

    footer .comp-info ul {column-count: 1;}

    footer .copy-footer {flex-wrap: wrap;}

    footer .copy-footer ul,
    footer .copy-footer p {
        width: 100%;
    }

    footer .copy-footer ul {justify-content: flex-start;}

}
